@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

.calc{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;

    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    /* 加上这一句，限制大小，可以防止显示溢出 */
    width: 251.906px; 
}

.display{
    display: flex;
    justify-content: right;
    font-size:240%;

    /* 实现换行显示 */
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;

    width: 100%;          /* 占满父容器宽度 */
}

.expression{
    text-align: right;
    display: flex;
    align-items:center; 
    justify-content:right;
    color: gray;
    height:30px;
    flex:1 0 1;
    /* 实现换行 */
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

.screen{
    display: flex;
    flex-direction: column;

    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    background-color:floralwhite;
    margin-bottom: 20px;
    justify-content: space-between;
}

button{
    height: 50px;
    width: 60px;
}
