@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

.calc{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.display{
    text-align: right;
    font-size:300%;
}

button{
    height: 50px;
    width: 60px;
}
